<div>
  <div style="text-align: left; margin-left: 50px; width: 300px"><img
      style="width: 100%"
      src="{{sprites.front_default}}"
      alt="{{name}}"
    /></div>
  <div style="; margin-left: 50px; text-align: left">
    <h2>Name: {{name}}</h2>
    <p>Weight: {{weight}}</p>
    <p>Height: {{height}}</p>
    <p>Abilities</p>
    <ul style="list-style: none; padding: 0; margin: 0;">
      {{#each abilities}}
        <li>{{ability.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>